@import "tailwindcss";

:root {
    color-scheme: light dark;
}

@theme {
    --color-primary: #635de6;
    --color-muted-foreground: light-dark(oklch(0.556 0 0), oklch(0.708 0 0));
}

.t-container {
    @apply max-w-5xl mx-auto px-4 sm:px-6 lg:px-8;
}

button {
    cursor: pointer;
}
