.toast-container {
    /* override popover style */
    inset: unset;
    border: none;
    background-color: transparent;
    overflow: clip;

    /* for toast shadow to show */
    overflow-clip-margin: 12px;

    display: flex;
    width: 100%;
    max-width: 360px;

    interpolate-size: allow-keywords;
    transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-property: transform, translate;

    --space-to-screen: 20px;
}

.toast-container.top {
    /* vertical using `transform`, horizontal using `translate` directly,
        otherwise they will override each other and we cannot stack `top` and `left` together for example */
    transform: translateY(var(--space-to-screen));
    flex-direction: column;

    --toast-initial-transform: translateY(-100%);
}

.toast-container.bottom {
    /* bottom doesn't need additional screen-to-space, because it will be handled by the margin-bottom of the individual toast */
    transform: translateY(calc(100vh - 100%));
    flex-direction: column-reverse;

    --toast-initial-transform: translateY(100%);
}

.toast-container.left {
    translate: calc(0% + var(--space-to-screen));
}

.toast-container.center {
    translate: calc(50vw - 50%);
}

.toast-container.right {
    translate: calc(100vw - 100% - var(--space-to-screen));
}

.toast {
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: var(--toast-initial-transform);
    height: 0;
    overflow: hidden;
    /* gap is not animatable in css, so we use margin */
    margin-bottom: 0;
    filter: blur(10px);
}

.toast.visible {
    opacity: 1;
    transform: translateY(0);
    height: auto;
    filter: none;

    margin-bottom: 12px;
}

.toast[data-styled="true"] {
    display: flex;
    align-items: center;
    gap: 12px;

    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-left: 4px solid var(--accent-color);

    &.visible {
        padding: 16px;
    }

    .toast-icon {
        font-size: 1.75rem;
        color: var(--accent-color);
    }

    .toast-title {
        color: var(--accent-color);
        font-weight: 600;
        font-size: 1.125rem;
    }

    .toast-message {
        color: #333333;
    }

    .toast-close {
        background: none;
        border: none;
        color: #999;
        cursor: pointer;
        font-size: 1.25rem;
        padding: 0;
        line-height: 1;
    }
}

.toast-content {
    flex-grow: 1;
}

/* Different toast types */
.toast.success {
    --accent-color: #4caf50;
}

.toast.error {
    --accent-color: #f44336;
}

.toast.info {
    --accent-color: #2196f3;
}

.toast.warning {
    --accent-color: #ff9800;
}

.toast.loading {
    --accent-color: #000000;
    & > .toast-icon {
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
