.toast-container {
    /* override popover style */
    inset: unset;
    border: none;
    background-color: transparent;
    overflow: clip;

    /* for toast shadow to show */
    overflow-clip-margin: 12px;

    display: flex;
    gap: 12px;
    width: 100%;
    max-width: 360px;
}

.toast-container.top {
    top: 20px;
    flex-direction: column;

    .toast.show {
        opacity: 1;
        transform: translateY(0);
    }

    .toast.hide {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.toast-container.bottom {
    bottom: 20px;
    flex-direction: column-reverse;

    .toast.show {
        opacity: 1;
        transform: translateY(0);
    }

    .toast.hide {
        opacity: 0;
        transform: translateY(100%);
    }
}

.toast-container.right {
    right: 20px;
}

.toast-container.left {
    left: 20px;
}

.toast-container.center {
    left: 50%;
    transform: translateX(-50%);
}

.toast {
    background-color: white;
    color: #333;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    gap: 12px;

    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    min-height: 1.5rem;

    border-left: 4px solid var(--accent-color);
}

.toast-icon {
    font-size: 24px;
    line-height: 1;
    color: var(--accent-color);
}

.toast-content {
    flex-grow: 1;
}

.toast-title {
    font-weight: 600;
    margin: 0 0 4px 0;
}

.toast-message {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.toast-close {
    background: none;
    border: none;
    color: #999;
    cursor: pointer;
    font-size: 20px;
    padding: 0;
    line-height: 1;
}

/* Different toast types */
.toast.success {
    --accent-color: #4caf50;
}

.toast.error {
    --accent-color: #f44336;
}

.toast.info {
    --accent-color: #2196f3;
}

.toast.warning {
    --accent-color: #ff9800;
}

.toast.loading {
    --accent-color: #000000;
    & > .toast-icon {
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
